body {
    font-family: Arial, sans-serif;
    background-image: url('https://i.ibb.co/zP8cdgB/6ee19142a58f28b93766a9f44663a540.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-weight: bold;
}

.galaxy {
    background-image: url('https://i.ibb.co/LCYCfBy/png-clipart-gold-coin-xc9cu-snowflake-pattern-coins-photography-snowflakes-photoaidcom-cropped.png');
    background-size: cover;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    animation: none;
}

@keyframes vibrate {
    0% { transform: translate(0); }
    20% { transform: translate(-2px, 2px); }
    40% { transform: translate(-2px, -2px); }
    60% { transform: translate(2px, 2px); }
    80% { transform: translate(2px, -2px); }
    100% { transform: translate(0); }
}

.vibrate {
    animation: vibrate 0.2s linear 1;
}

.coin-anim {
    position: absolute;
    font-size: 24px;
    color: yellow;
    animation: fadeOut 2s forwards;
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; top: -50px; }
}
